---
layout: lay-not-chap.njk
eleventyNavigation:
  key: "Pháp gia"
  order: 5
  title: "法家 Pháp gia (School of law / Legalism)"
---

<header><h2 class="title">
	<span lang="zh-Hant">
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		<ruby><rb>&#23478;</rb><!-- 家 --><rt>gia</rt></ruby>
	</span><br />
	<span lang="en">School of law / Legalism</span>
</h2></header>
{% include "wait-sign.html" %}
<p>sách:</p>
<ul>
	<li>商君書 Thương quân thư (Book of Lord Shang)</li>
</ul>
