---
layout: lay-not-chap.njk
eleventyNavigation:
  parent: "Nho gia"
  key: "Luận Ngữ"
  order: 1
  title: "論語 Luận Ngữ (Analects)"
ctext_id: analects
---

<header><h3 class="title">
	<span lang="zh-Hant">
		<ruby><rb>&#35542;</rb><!-- 論 --><rt>Luận</rt></ruby>
		<ruby><rb>&#35486;</rb><!-- 語 --><rt>Ngữ</rt></ruby>
	</span><br />
	<span lang="en">Analects</span>
</h3></header>
{% include "wait-sign.html" %}
