<footer lang="en" class="footer content has-text-centered">
	<a target="_blank" rel="noreferrer" href="https://github.com/phineas-pta/co-han-van">Source code</a><br />
	Built with <a target="_blank" rel="noreferrer" href="https://www.11ty.dev/">11ty</a> &amp; <a target="_blank" rel="noreferrer" href="https://bulma.io/">Bulma</a>
</footer>
