{# LAYOUT for non chapter: cho các phái và các sách #}

<!DOCTYPE html>
<html lang="vi" class="has-navbar-fixed-top">
{% include "header.njk" %}
<body class="container is-max-widescreen">

	{# all pages must have eleventyNavigation.key except root homepage #}

	{% include "navbar.njk" %}
	{% include "breadcrumbs.njk" %}

	{# main content #}
	<main id="main"><article class="content is-large">

		{{ content | safe }}{# coz content is html already #}

		{% if ctext_id -%}{# in a book #}
			<p>Source: {{ ("https://ctext.org/" + ctext_id) | makeMyLink | safe }}</p>
		{%- endif %}

		{% if chap_list_notes -%}{# phân chia các chương #}
			<p>{{ chap_list_notes | safe }}</p>
		{%- endif %}

		<p>mục lục:</p>
		{# don’t use eleventyNavigationToHtml coz dont work with prefix yet with 11ty v2 #}
		{% set navPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
		{% if ctext_id %}<ol>{% else %}<ul>{% endif %}
			{% for entry in navPages %}
				<li><a rel="next" href="{{ entry.url | url }}" class="MUC-LUC">{{ entry.title }}</a></li>
				{# `title` must be a child of eleventyNavigation coz loop cannot access outside value ? #}
				{# if `title` undefined then eleventyNavigation auto use `key` #}
			{% endfor %}
		{% if ctext_id %}</ol>{% else %}</ul>{% endif %}

	</article></main>

	<hr />
	{% include "footer.njk" %}

</body>
</html>
