{# LAYOUT for chapters: cho các chương sách #}

<!DOCTYPE html>
<html lang="vi" class="has-navbar-fixed-top">
{% include "header.njk" %}
<body class="container is-max-widescreen">

	{# all pages must have eleventyNavigation.key except root homepage #}

	{% include "navbar.njk" %}
	{% include "breadcrumbs.njk" %}

	{# main content #}
	<main class="skeleton-block" id="main"><article class="content is-large">
		{{ content | safe }}{# coz content is html already #}
	</article></main>

	<hr />
	{# pagination: next / prev buttons #}
	{% set navPages = collections.all | eleventyNavigation(eleventyNavigation.parent) %}
	{% set prev_next = eleventyNavigation.key | findNextPrev(navPages) %}
	<nav class="pagination is-large" role="navigation" aria-label="pagination">
		{% if prev_next.prev_url -%}
			<a class="MUC-LUC FA-ICON pagination-previous button is-link" href="{{ prev_next.prev_url | url }}">&#9198;</a><!-- ⏮ without modifier -->
		{%- else -%}
			<a class="FA-ICON pagination-previous is-disabled">&#128683;</a><!-- 🚫 -->
		{%- endif %}
		{% if prev_next.next_url -%}
			<a class="MUC-LUC FA-ICON pagination-next button is-link" href="{{ prev_next.next_url | url }}">&#9197;</a><!-- ⏭ without modifier -->
		{%- else -%}
			<a class="FA-ICON pagination-next is-disabled">&#128683;</a><!-- 🚫 -->
		{%- endif %}
	</nav>

	<hr />
	{% include "footer.njk" %}

</body>
</html>
