{# top nav bar with hamburger + dark mode switch #}
<nav class="navbar is-primary is-fixed-top is-size-4" role="navigation" aria-label="main navigation">
	<div class="navbar-brand" style="flex-grow: 1; justify-content: center;">
	{# center navbar ref: https://github.com/jgthms/bulma/issues/1604#issuecomment-422407761 #}
		<div class="navbar-item">
			<a id="home-button" rel="prev" role="button" class="FA-ICON button is-link" href="{{ '/' | url }}">&#127968;</a><!-- 🏠 -->
		</div>
		<div class="navbar-item">
			<label class="FA-ICON checkbox button is-link" title="dark mode toggle"><input type="checkbox" id="themeSwitch" />&#8987;</label><!-- ⌛ -->
		</div>
		{# hamburger menu only appears on touch devices, must be last child, and dont add class button #}
		<a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	{# navbar-menu is hidden on small touch devices #}
	<div id="myMenu" class="navbar-menu">
		<div class="navbar-start">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">Menu</a>{# contains the dropdown arrow #}
				<div class="navbar-dropdown">
					{# dont use eleventyNavigationToHtml coz dont work with prefix yet with 11ty v2 #}
					{% set navPages = collections.all | eleventyNavigation %}
					{% for entry in navPages %}
						{%- set is_active = ("is-active" if entry.url == page.url else "") -%}
						<a class="MUC-LUC navbar-item {{ is_active }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
						{# title must be a child of eleventyNavigation coz loop cannot access outside value ? #}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="navbar-end"></div>
	</div>
</nav>
