/* ********************************* bulma ********************************* */

// always need
@use "../node_modules/bulma/sass/base"
@use "../node_modules/bulma/sass/themes"

// on-demand
@use "../node_modules/bulma/sass/elements/button"
@use "../node_modules/bulma/sass/elements/content"
@use "../node_modules/bulma/sass/elements/title"
@use "../node_modules/bulma/sass/components/breadcrumb"
@use "../node_modules/bulma/sass/components/navbar"
@use "../node_modules/bulma/sass/components/pagination"
@use "../node_modules/bulma/sass/form/checkbox-radio"
@use "../node_modules/bulma/sass/layout/container"
@use "../node_modules/bulma/sass/layout/footer"

/* ************************************************************************* */

[data-theme="dark"]
	word-spacing: .05em // more readable against dark backgrounds: a tiny amount of extra space
// bulma now has built-in dark mode, no need “inverted luminance” trick anymore

a.MY-REF
	font-family: monospace
	font-size: smaller
	overflow-wrap: anywhere
	word-break: break-all
	word-wrap: break-word

// https://github.com/Omnibus-Type/Grenze-Gotisch/blob/master/fonts/webfonts/GrenzeGotisch-ExtraBold.woff2
// https://github.com/Omnibus-Type/Grenze-Gotisch/blob/master/fonts/ttf/GrenzeGotisch-ExtraBold.ttf
@font-face
	font-family: "SinoViet-font"
	src: url("fonts/GrenzeGotisch-ExtraBold.woff2") format("woff2"), url("fonts/GrenzeGotisch-ExtraBold.ttf") format("truetype")

// ttf extracted from https://github.com/SilentByte/fonts-arphic-ukai/blob/master/fonts-arphic-ukai/ukai.ttc
@font-face
	font-family: "ChineseFont"
	src: url("fonts/UKaiHK-02.woff2") format("woff2"), url("fonts/UKaiHK-02.ttf") format("truetype")

// https://github.com/FortAwesome/Font-Awesome/tree/6.4.2/webfonts
@font-face
	font-family: "FoAw-icon"
	src: url("fonts/fa-solid-900.woff2") format("woff2"), url("fonts/fa-solid-900.ttf") format("truetype")

// instead of bulma class `has-text-centered` (dont use `is-centered`)
header
	text-align: center

.multi-lang > :lang(vi)
	color: #3A8098

.FA-ICON
	font-family: "FoAw-icon"

/* **************************** ruby annotations **************************** */

// see how it was improved https://codereview.stackexchange.com/q/260732/242219

ruby
	display: inline-flex
	flex-direction: column-reverse
	margin-right: 0.2em
	overflow-wrap: anywhere
	word-break: break-all
	word-wrap: break-word

rb
	display: inline // with infline-flex above
	color: #939597
	font-family: "ChineseFont"
	font-size: 175% // because this font is so small

rt
	display: inline // with infline-flex above
	line-height: 0.7 // with infline-flex above
	text-align: left // to work together with rb margin
	font-family: "SinoViet-font"
	font-size: larger // because font unexpectedly got smaller
